@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Nanum+Gothic:wght@400;700&display=swap');

body {
  font-family: 'Nanum Gothic', sans-serif;
  color: #d9d9d9;
  background-image: url(images/stars.jpg);
}

a {
  color: #d9d9d9;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Bungee Inline', sans-serif;
  color: #EED713;
}

.container {
  width: 700px;
  margin: 0 auto;
}

.card-white {
  background-color: rgba(200, 200, 200, 0.7);
  border-radius: 8px;
  padding: 40px;
  margin: 20px 0;
  text-align: center;
}

.avatar {
  width: 200px;
}

.img-circle {
  border-radius: 50%;
}

.btn-yellow {
  background-color: #EED713;
  color: black;
}

.btn {
  padding: 7px 20px;
  border-radius: 4px;
}

.btn-yellow:hover {
  background-color: #efe58e;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline-block
}

.list-inline i {
  font-size: 40px;
  color: #EED713;
  margin: 16px;
}

.list-inline i:hover {
  color: #efe58e;
}
